name: Build and Push to ECR

on:
  push:
    branches:
      - main
jobs:
  build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws configiure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws configure set default.region ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region eu-north-1 | docker login --username AWS --password-stdin 814724283180.dkr.ecr.eu-north-1.amazonaws.com

      - name: Build, tag, and push image to Amazon ECR
        run: |
          docker build -t mediplus .
          docker tag mediplus:latest 814724283180.dkr.ecr.eu-north-1.amazonaws.com/mediplus:latest
          docker push 814724283180.dkr.ecr.eu-north-1.amazonaws.com/mediplus:latest
